In [1]:
!pip3 install forex_python

Requirement already satisfied: forex_python in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.8)
Requirement already satisfied: simplejson in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from forex_python) (3.17.6)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from forex_python) (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->forex_python) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->forex_python) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->forex_python) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->forex_python) (2.0.4)
WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import converter

In [3]:
newDF = pd.read_csv("revinvcapbackup copy.csv")

In [4]:
newDF

    company  year  quarter metric  sub-metric       value
0       UMC  2001        1    rev         NaN    21,021.5
1       UMC  2001        2    rev         NaN    21,021.5
2       UMC  2001        3    rev         NaN    13,886.9
3       UMC  2001        4    rev         NaN    13,886.9
4       UMC  2002        1    rev         NaN    17,279.9
..      ...   ...      ...    ...         ...         ...
683    TSMC  2020        4  capex         NaN   -88,675.0
684    TSMC  2021        1  capex         NaN  -248,028.7
685    TSMC  2021        2  capex         NaN  -166,971.1
686    TSMC  2021        3  capex         NaN  -188,639.9
687    TSMC  2021        4  capex         NaN  -235,556.0

[688 rows x 6 columns]

In [5]:
def formatRight(str):
    if "," in str:
        index = str.index(",")
        return str[:index] + str[index+1:]
    else:
        return str

In [6]:
newDF["value"] = newDF["value"].apply(formatRight)

In [7]:
newDF

    company  year  quarter metric  sub-metric      value
0       UMC  2001        1    rev         NaN    21021.5
1       UMC  2001        2    rev         NaN    21021.5
2       UMC  2001        3    rev         NaN    13886.9
3       UMC  2001        4    rev         NaN    13886.9
4       UMC  2002        1    rev         NaN    17279.9
..      ...   ...      ...    ...         ...        ...
683    TSMC  2020        4  capex         NaN   -88675.0
684    TSMC  2021        1  capex         NaN  -248028.7
685    TSMC  2021        2  capex         NaN  -166971.1
686    TSMC  2021        3  capex         NaN  -188639.9
687    TSMC  2021        4  capex         NaN  -235556.0

[688 rows x 6 columns]

In [8]:
c = converter.Converter()

In [9]:
newDF[newDF["company"] == "TSMC"]

    company  year  quarter metric  sub-metric      value
466    TSMC  2001        1    rev         NaN    32907.8
467    TSMC  2001        2    rev         NaN    37537.5
468    TSMC  2001        3    rev         NaN    30034.7
469    TSMC  2001        4    rev         NaN    30034.7
470    TSMC  2003        4    rev         NaN    57780.0
..      ...   ...      ...    ...         ...        ...
683    TSMC  2020        4  capex         NaN   -88675.0
684    TSMC  2021        1  capex         NaN  -248028.7
685    TSMC  2021        2  capex         NaN  -166971.1
686    TSMC  2021        3  capex         NaN  -188639.9
687    TSMC  2021        4  capex         NaN  -235556.0

[222 rows x 6 columns]

In [10]:
for index, row in newDF.iterrows():
    if row["company"] == "TSMC" or row["company"] == "UMC":
        #str
        year = row["year"]
        #int
        quarter = row["quarter"]
        #str
        value = row["value"]
        convertedVal = c.twd_usd(value, year, quarter)
        newDF.loc[index, "value"] = convertedVal

In [11]:
newDF

    company  year  quarter metric  sub-metric        value
0       UMC  2001        1    rev         NaN   650.619003
1       UMC  2001        2    rev         NaN   639.145637
2       UMC  2001        3    rev         NaN   399.623022
3       UMC  2001        4    rev         NaN   402.518841
4       UMC  2002        1    rev         NaN    494.70083
..      ...   ...      ...    ...         ...          ...
683    TSMC  2020        4  capex         NaN -3102.260006
684    TSMC  2021        1  capex         NaN -8857.851505
685    TSMC  2021        2  capex         NaN -5996.232852
686    TSMC  2021        3  capex         NaN -6754.024347
687    TSMC  2021        4  capex         NaN -8466.537273

[688 rows x 6 columns]

In [12]:
newDF["value"] = newDF["value"].apply(float)

In [13]:
for index, row in newDF.iterrows():
    if row["metric"] == "capex":
        if row["value"] < 0:
            newDF.loc[index, "value"] = abs(row["value"])

In [14]:
newDF

    company  year  quarter metric  sub-metric        value
0       UMC  2001        1    rev         NaN   650.619003
1       UMC  2001        2    rev         NaN   639.145637
2       UMC  2001        3    rev         NaN   399.623022
3       UMC  2001        4    rev         NaN   402.518841
4       UMC  2002        1    rev         NaN   494.700830
..      ...   ...      ...    ...         ...          ...
683    TSMC  2020        4  capex         NaN  3102.260006
684    TSMC  2021        1  capex         NaN  8857.851505
685    TSMC  2021        2  capex         NaN  5996.232852
686    TSMC  2021        3  capex         NaN  6754.024347
687    TSMC  2021        4  capex         NaN  8466.537273

[688 rows x 6 columns]

In [16]:
newDF.to_csv("revinvcapCLEANED.csv", index=False)